"*":
  "atom-ternjs": {}
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "linter-write-good"
      "merge-conflicts"
      "linter-jscs"
      "vim-mode"
    ]
    projectHome: "~/Dropbox/Code"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontFamily: "\"SF Mono\", \"Inconsolata LGC\", Menlo, Inconsolata, Monaco, fixed-width"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    useShadowDOM: true
  "exception-reporting":
    userId: "2ebffde6-515d-ac36-0cda-60ed3865a62a"
  "hey-pane":
    expandedWidth: 90
  "language-elm": {}
  linter: {}
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  metrics:
    userId: "02d6477dbc6f82995db20f26edb928127c52f989"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    silenceErrors: true
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
