[user]
	name = Adrian Schaedle
	email = adrian@schaedle.me

[alias]
	aliases = config --get-regexp ^alias\\.
	amend = commit --amend --no-edit
	last-commit = rev-parse HEAD
	staged = diff --staged
	delete-merged = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
	one-more-thing = !git add . && git amend && git push --force
	switch = !git branch | cut -c 3- | selecta | xargs git checkout
	copy-head = !git rev-parse --short HEAD | pbcopy

[color]
	ui = true

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
	algorithm = patience
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope

[core]
	excludesfile = ~/.gitignore_global
	filemode = false
	trustctime = false
	autocrlf = input
	safecrlf = false
	editor = /usr/local/bin/vim

[pull]
	rebase = true

[push]
	default = current

[rerere]
	enabled = true

[help]
  autocorrect = 1

[hub]
protocol = https
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
